**/node_modules
.output
.nuxt
.nitro
.data
.cache
.git
.github
.env
.env.*
**/*.log
**/.DS_Store
dist
.context
playwright-report
test-results
e2e
tests
Dockerfile*
docker-compose*.yml
compose.yaml
.dockerignore
